# This is the actual sites.conf file from one of my machines, and is 
# the normal complexity of one of these.

_default
  nginx_ssl on
  nginx_clear on
  auto_www off

cookie.avi.co
  backend http://cookie:8080

git.avi.co
  nginx_add_location_line include /etc/nginx/includes/tunneled-traffic-only;
  backend http://10.20.30.108

grafana.avi.co
  nginx_add_location_line include /etc/nginx/includes/tunneled-traffic-only;
  backend http://10.20.30.102:3000


